/*
.root {
     -fx-background-image: url("  ");
}
*/

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#control-box {
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 0px 2px;
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #000000;
}

#nextclickmessage {
  -fx-font-size: 14px;
  -fx-text-fill: #000000;
  -fx-font-weight: bold;
}

.combo-box-base {
	-fx-focus-color: transparent;
}

.combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; /* 20 */
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.combo-box-base .arrow {
    -fx-background-color: #000000;
} 

.combo-box-base .arrow-button {
    -fx-background-color: transparent;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    -fx-background-color: black;
    -fx-background-radius: 0px;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}